<!DOCTYPE html>
<html lang="en">
<head>
    <title>DZ Inventors</title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/x8S7zGf/Dz-Inventors-Logo.png" sizes="32x32">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h3>DZ Inventors (Live Chat)</h3>
<h1>Made by DZ Inventors team</h1>
<div class="message_holder">
    <!-- Loop through chat history -->
    {% for msg in chat_history %}
        <div>
            <b style="color: #000">{{ msg.user_name }}</b> {{ msg.message }}
        </div>
    {% endfor %}
</div>

<!-- Add the audio element for notification sound -->
<audio id="notificationSound" src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/pop.mp3" preload="auto"></audio>

<!-- Form for user input -->
<form action="/" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit" value="Send"/>

    <!-- Use a wrapping div for the checkbox to position it on a new line -->
    <div class="container">
        <div>
            <label for="autoscroll">Auto Scroll</label>
            <input type="checkbox" id="autoscroll" checked/>
        </div>
        <div id="online-clients"><p>Online Clients: 0</p></div>
        <div id="messages_count"><p>Messages: 0</p></div>
        
    </div>
</form>


    <!-- Display online clients count -->
  


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script type="text/javascript">
    var notificationSound = document.getElementById('notificationSound');
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // Variable to store auto scroll status
    var autoScrollEnabled = true;

    // Function to scroll to the bottom of messages
    function autoScrollToBottom() {
        var messageHolder = $('div.message_holder');
        messageHolder.scrollTop(messageHolder[0].scrollHeight);

        // Scroll to the bottom of the page (optional)
        $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
    }

    socket.on('connect', function () {
        socket.emit('my event', {
            data: 'User Connected'
        });

        // Trigger auto scroll when a new user connects
        autoScrollToBottom();

        var form = $('form').on('submit', function (e) {
            e.preventDefault();
            
            // Get user input values
            let user_name = $('input.username').val();
            let user_input = $('input.message').val();

            // Check if the message is not empty before emitting
            if (user_input.trim() !== '') {
                socket.emit('my event', {
                    user_name: user_name,
                    message: user_input
                });

                // Clear the message input field and set focus
                $('input.message').val('').focus();
            } else {
                // Display an alert or take other actions for empty messages
                alert('Please enter a non-empty message.');
            }
        });
    });

    socket.on('my response', function (msg) {
        console.log(msg);
        // Check if the received message is from a different user
        if (msg.user_name != $('input.username').val() + ':') {
            console.log('playing sound');
            notificationSound.play();
        }

        if (typeof msg.user_name !== 'undefined') {
            var messageHolder = $('div.message_holder');
            messageHolder.append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.message + '</div>');

            // Scroll only if auto scroll is enabled
            if (autoScrollEnabled) {
                autoScrollToBottom();
            }
        }
    });

    socket.on('online_clients_count', function (data) {
        $('#online-clients').text('Online Clients: ' + data.count);
    });

    socket.on('messages_count', function (data) {
        $('#messages_count').text('Messages : ' + data.count);
    });

    // Handle the change event of the auto scroll checkbox
    $('#autoscroll').change(function () {
        autoScrollEnabled = this.checked;
    });
</script>

</body>
</html>
