<!DOCTYPE html>
<html lang="en">
<head>
    <title>DZ Inventors</title>
    <link rel="icon" type="image/png" href="https://i.ibb.co/x8S7zGf/Dz-Inventors-Logo.png" sizes="32x32">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h3>DZ Inventors (Live Chat)</h3>
<h1>Made by DZ Inventors team</h1>
<div class="message_holder">
    <!-- Loop through chat history -->
    {% for msg in chat_history %}
        <div>
            <b style="color: #000">{{ msg.user_name|escape }}</b> {{ msg.message|escape }}
        </div>
    {% endfor %}
</div>

<!-- Add the audio element for notification sound -->
<audio id="notificationSound" src="http://codeskulptor-demos.commondatastorage.googleapis.com/pang/pop.mp3" preload="auto"></audio>

<!-- Form for user input -->
<form action="/" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit" value="Send"/>

    <!-- Use a wrapping div for the checkbox to position it on a new line -->
    <div class="container">
        <div>
        </div>
        <div id="online-clients"><p>Online Clients: 0</p></div>
        <div id="messages_count"><p>Messages: 0</p></div>
        
    </div>
</form>


    <!-- Display online clients count -->
  


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="script.js"></script>

</body>
</html>
